div.page-container.signin
  div.signin-container
    h1 Welcome back!
    - if ('undefined' !== typeof errors && errors.length)
      ul#errors
        - each error in errors
          li.error= error
    form(action='/login', method='post')
      #login
        input(type='text', name=everyauth.password.loginFormFieldName, value=login, autocomplete='off')
        label(for=everyauth.password.loginFormFieldName) Login
      #password
        input(type='password', name=everyauth.password.passwordFormFieldName)
        label(for=everyauth.password.passwordFormFieldName) Password
      #submit
        input(type='submit', value='Sign In')
    a(href='/register') Not yet a user? Sign Up here!
